<div th:include="page/header"></div>
<div th:include="page/navbar"></div>
<link rel="stylesheet" href="../css/background.css">

<style>

    .container {
        max-width: 550px;
    }
</style>

<div class="  row col-12">
    <div class="col-12">
        <div class="container mt-5">
        <div class="card m-5">
            <h5 class="card-header text-center">Transaccion realizada exitosamente</h5>
            <div class="card-body">

                <div class="row">
                    <div class="container mt-5 text-center">
                        <img width="70%" height="70%"  th:src="@{../images/succes_icon.svg}" />
                    </div>
                </div>
            <hr>
            <div class="container ">
                <div class="row">
                    <p>Se envio un correo de confirmacion revisa la bandeja de entrada</p>
                    <div class="col text-center">
                        <a  class="btn btn-default bg-primary text-white" th:href="@{/cuenta/iniciar_sesion}">Iniciar sesión</a>
                    </div>
                </div>
            </div>
            <hr>

        </div>
        </div>
    </div>
    </div>
</div>